/**
 * @license
 * Illico Editor - data quality Swiss Army knife
 * Copyright (C) 2025 Arnaud COCHE < i l l i c o . e d i t o r /// n e t - c . f r >
 *
 * This program is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE.
 * See the GNU General Public License for more details.
 */

/**
 * CONVENTIONS
 * -----------------------------------------------------------------------------
 *
 * adaptation de la règle : Block - Element -- Modifier
 *
 * la règle CSS doit s'appliquer
 * - sur des classes (class=) ou des identifiants (id=)
 * - de façon atomique :
 * -> soit sur un "Block"
 * -> soit sur un "Block Element" (un parent proche ou éloigné est toujours indiqué)
 * -> soit sur un "Block Element--Modifier"
 *
 * objectif : moins de 10 anomalies styleLint
 *
 * - https://stylelint.io/demo
 *
 * s'inspirer des règles proposées
 *
 * - https://google.github.io/styleguide/htmlcssguide.html#ID_and_Class_Name_Delimiters
 */

/**
 * POUR MEMO
 * ------------------------------------------------------------------------------
 *
 * 1. em : the font-size of relevant font : 1em = 100%
 * 2. ex : the x-height of relevant font
 */

/**
 * - page-menu.css : bandeau supérieur
 * - page-ctrl.css : catalogue des transformations
 * - page-main.css : paramètres des transformations + résultat
 *
 * +-------------+
 * |     menu    |
 * +------+------+
 * | ctrl | main |
 * |      |      |
 * +------+------+
 */

/** ------------------------------------------------------ page-ctrl : global */

.page-ctrl {
  border: 1px solid grey;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 7px;
  margin: 10px 0 5px 0px;
  min-width: 27em;
  padding: 5px;
  position: fixed;
  top: 50px;
}

/** --------------------------------------------------- page-ctrl : chapitres */

.page-ctrl .charger,
.page-ctrl .transformer,
.page-ctrl .configurer {
  font-weight: bold;
  min-height: 30px;
  margin: 0 0 5px 0;
}

/** cache les familles d'actions : charger, transformer, configurer */

.page-ctrl .optCharger,
.page-ctrl .optTransformer,
.page-ctrl .optConfigurer {
  display: none;
}

/** --------------------------------------------------- page-ctrl : catalogue */

.page-ctrl .catalogue {
  margin: 0;
  height: auto;
  overflow: auto;
  padding: 4px;
  cursor: pointer;
}

.page-ctrl .option_col1:after {
  content: " [colonne 1]";
  color: brown;
}

/** "charger" est sélectionné : on affiche les actions "optCharger" */

.page-ctrl .charger ~ .catalogue > .optCharger {
  display: inline;
}

/** "transformer" est sélectionné : on affiche les actions "optTransformer" */

.page-ctrl .transformer ~ .catalogue > .optTransformer {
  display: inline;
}

/** "configurer" est sélectionné : on affiche les actions "optConfigurer" */

.page-ctrl .configurer ~ .catalogue > .optConfigurer {
  display: inline;
}

/** ------------------------------------------------------- FIN page-ctrl.css */
