/**
 * @license
 * Illico Editor - data quality Swiss Army knife
 * Copyright (C) 2025 Arnaud COCHE < i l l i c o . e d i t o r /// n e t - c . f r >
 *
 * This program is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE.
 * See the GNU General Public License for more details.
 */

/**
 * CONVENTIONS
 * -----------------------------------------------------------------------------
 *
 * adaptation de la règle : Block - Element -- Modifier
 *
 * la règle CSS doit s'appliquer
 * - sur des classes (class=) ou des identifiants (id=)
 * - de façon atomique :
 * -> soit sur un "Block"
 * -> soit sur un "Block Element" (un parent proche ou éloigné est toujours indiqué)
 * -> soit sur un "Block Element--Modifier"
 *
 * objectif : moins de 10 anomalies styleLint
 *
 * - https://stylelint.io/demo
 *
 * s'inspirer des règles proposées
 *
 * - https://google.github.io/styleguide/htmlcssguide.html#ID_and_Class_Name_Delimiters
 */

/**
 * POUR MEMO
 * ------------------------------------------------------------------------------
 *
 * 1. em : the font-size of relevant font : 1em = 100%
 * 2. ex : the x-height of relevant font
 */

/**
 * - page-menu.css : bandeau supérieur
 * - page-ctrl.css : catalogue des transformations
 * - page-main.css : paramètres des transformations + résultat
 *
 * +-------------+
 * |     menu    |
 * +------+------+
 * | ctrl | main |
 * |      |      |
 * +------+------+
 */

/** ------------------------------------------------------ page-menu : global */

.page-menu {
  border-bottom: 1px solid #ccc;
  left: 0;
  margin: 5px auto;
  padding-bottom: 5px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

/*
.page-menu .ln-left {
  left: 0px;
  position: absolute;
  width: 2.5em;
}*/

/** ------------------------------------------------------- page-menu : liens */

.page-menu .ln {
  color: black;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
}

.page-menu .ln:hover {
  background-color: #eee;
  border: 2px solid #d38;
  cursor: pointer; /* utile lorsque le href n'est pas renseigné */
}

/** ----------------------------------------------- page-menu : types de lien */

.page-menu .ln--blue {
  border: 2px solid #67c;
}

.page-menu .ln--gold {
  border: 2px solid #b80;
}

.page-menu .ln--green {
  border: 2px solid #2a9;
}

.page-menu .ln--grey {
  border: 2px solid grey;
}

.ln--left {
  position: absolute;
  left: 2px;
}

.page-menu .ln--selected {
  background-color: #eee;
  /*border: 2px solid #d38;*/
}

/** ------------------------------------------------------- FIN page-menu.css */
