/**
 * @license
 * Illico Editor - data quality Swiss Army knife
 * Copyright (C) 2025 Arnaud COCHE < i l l i c o . e d i t o r /// n e t - c . f r >
 *
 * This program is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE.
 * See the GNU General Public License for more details.
 */

/**
 * CONVENTIONS
 * -----------------------------------------------------------------------------
 *
 * adaptation de la règle : Block - Element -- Modifier
 *
 * la règle CSS doit s'appliquer
 * - sur des classes (class=) ou des identifiants (id=)
 * - de façon atomique :
 * -> soit sur un "Block"
 * -> soit sur un "Block Element" (un parent proche ou éloigné est toujours indiqué)
 * -> soit sur un "Block Element--Modifier"
 *
 * objectif : moins de 10 anomalies styleLint
 *
 * - https://stylelint.io/demo
 *
 * s'inspirer des règles proposées
 *
 * - https://google.github.io/styleguide/htmlcssguide.html#ID_and_Class_Name_Delimiters
 */

/**
 * POUR MEMO
 * ------------------------------------------------------------------------------
 *
 * 1. em : the font-size of relevant font : 1em = 100%
 * 2. ex : the x-height of relevant font
 */

/**
 * - page-menu.css : bandeau supérieur
 * - page-ctrl.css : catalogue des transformations
 * - page-main.css : paramètres des transformations + résultat
 *
 * +-------------+
 * |     menu    |
 * +------+------+
 * | ctrl | main |
 * |      |      |
 * +------+------+
 */

/** ------------------------------------------------------ page-main : global */

.page-main {
  border: 1px solid grey;
  bottom: 0;
  left: 28.5em;
  margin: 10px 0 5px 0;
  overflow: auto;
  position: fixed;
  right: 7px;
  top: 50px;
}

.page-main-large {
  left: 7px;
}

/**
 * +--------------+
 * | panel-top    | info + cancel
 * +--------------+
 * | panel-middle | lien aide + paramètres
 * |              |
 * +--------------+
 * | panel-bottom | message + export
 * +--------------+
 */

/** ----------------------------------- page-main : panel-top : info + cancel */

.page-main .panel-top {
  border-bottom: 1px solid grey;
  margin: 5px 0 10px 0;
  padding: 5px 15px 10px 10px;
}

.panel-top .btn-annuler {
  display: inline;
  left: 5em;
  margin: 5px 0;
  min-width: 13.5em;
  padding: 4px;
  position: relative;
}

/** --------------------------------------- page-main : panel-middle : global */

/* .page-main .panel-middle {} */

/**
 * les éléments seront ensuite tout simplement déclarés
 * .panel-middle xxx {}
 */

/** ------------------------------------ page-main : panel-middle : lien aide */

.panel-middle .doc {
  display: none;
}

.panel-middle .doc::before {
  color: #2a9;
  content: "doc ";
  font-weight: bold;
}

.panel-middle .doc .ln-doc {
  border-bottom: 1px solid #2a9;
  color: black;
  text-decoration: none;
}

.panel-middle .doc .ln-doc:hover {
  border-bottom: 1px solid #d38;
}

/*
 * la valeur de gauche représente la classe de "panel-middle"
 * la valeur de droite représente le bloc enfant (documentation) à afficher
 */
/* stylelint-disable selector-descendant-combinator-no-non-space */
.créer_un_jeu_de_données .créer_un_jeu_de_données,
.évaluer_l_intégrité_d_un_jeu_de_données .évaluer_l_intégrité_d_un_jeu_de_données,
.valeurs                 .valeurs,
.remplacer____si___      .remplacer____si___,
.valeurs_en_liste        .valeurs_en_liste,
.valeurs_en_liste___numéroter       .valeurs_en_liste___numéroter,
.valeurs_en_liste___comparaison     .valeurs_en_liste___comparaison,
.valeurs_en_liste___agrégats        .valeurs_en_liste___agrégats,
.valeurs_en_liste___structure       .valeurs_en_liste___structure,
.valeurs_en_liste___filtres         .valeurs_en_liste___filtres,
.valeurs_en_liste___enrichissement  .valeurs_en_liste___enrichissement,
.traduire_les_listes     .traduire_les_listes,
.en-tête                 .en-tête,
.colonnes                .colonnes,
.colonnes___ordre        .colonnes___ordre,
.colonnes___comparaison  .colonnes___comparaison,
.lignes                  .lignes,
.lignes___numéroter       .lignes___numéroter,
.agrégats                .agrégats,
.temps                   .temps,
.temps___intervalles     .temps___intervalles,
.calculs                 .calculs,
.structure               .structure,
.emphase                 .emphase,
.filtres                 .filtres,
.enrichissement          .enrichissement,
.intervalles             .intervalles,
.matrice                 .matrice,
.préférences_utilisateur .préférences_utilisateur {
  display: block;
}
/* stylelint-enable selector-descendant-combinator-no-non-space */

/*
 * hack : la fonction "action__000" présente le fonctionnement d'Illico,
 * donc le lien vers la documentation est inutile : il est masqué
 */
#action__000:target ~ .doc {
  display: none;
}
/*
#action__000:target ~ #titre-transformation {
  display: none;
}
*/
/** ----------------------------------- page-main : panel-middle : paramètres */

/* tout bloc "paramètres" de transformation est caché par défaut */
.panel-middle [id^="action__"] {
  display: none;
}

/* seul le bloc "paramètres" de transformation sélectionné est affiché */
.panel-middle [id^="action__"]:target {
  display: block;
}

.panel-middle > div { /* @TODO : amélioration : remplacer ces <div> par <section> + généraliser <h3> */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  /* les blocs enfants sont cachés par défaut @deprecated semblait être utile que pour masquer les div de liens doc */

  /* display: none; */

  margin: 5px;
  padding: 4px;
}

.panel-middle h3 {
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
  padding: 4px;
}

.panel-middle #titre-transformation {
  border: none;
}

.panel-middle #titre-transformation h3 {
  border-bottom: 1px solid #d38;
  margin: 5px 0;
  padding: 4px;
}

/**
 * @TODO : amélioration : préférer une zone spécifique pour le dépôt (plutôt que tout le div de transformation)
 */
.panel-middle .drag:hover {
  border: 1px solid #d38;
  cursor: pointer;
}

/* alignement des labels et des champs de saisie */

.panel-middle .bb {
  margin: 5px 0;
}

.panel-middle .bb label {
  float: left;
  padding-right: 10px;
  text-align: right;
  width: 15em;
}

.panel-middle .bb input[type=file],
.panel-middle .bb input[type=number],
.panel-middle .bb input[type=text],
.panel-middle .bb select,
.panel-middle .bb textarea {
  display: block;
  min-width: 20em; /* adaptation écran 15" (sinon préférer 30em) */
  padding: 4px;
  box-sizing: border-box;
}

/* les champs qui listent les intitulés de colonne sont volontairement plus longs */

.panel-middle [id^="col__"] { /* @TODO : amélioration : généraliser .input-column */
  min-width: 20em; /* adaptation écran 15" (sinon préférer 30em) */
}

.panel-middle #cles_rapport,
.panel-middle #listeFic,
.panel-middle #selectlkp,
.panel-middle #list1,
.panel-middle #list2 { /* @TODO : amélioration : généraliser .input-column */
  min-width: 20em; /* adaptation écran 15" (sinon préférer 30em) */
}

/*
 * les champs saisis sont grisés et leur bordure change de couleur,
 * style identique aux liens du menu (panel-top), au survol du curseur
 */
.panel-middle input[type=number]:not(:disabled):not(:placeholder-shown),
.panel-middle input[type=text]:not(:disabled):not(:placeholder-shown),
.panel-middle textarea:not(:placeholder-shown) {
  background-color: #eee;
  border: 1px solid #d38;
}

/*
 * affichage conditionnel de certains champs
 */
.panel-middle *[id^="compact_delim-"] {
  visibility: hidden;
}

.panel-middle .liste + *[id^="compact_delim-"] {
  visibility: visible;
}

/**
 * +--------------------+
 * |      action 1      |
 * +--------------------+
 *
 * +----------+----------+-------
 * | action 1 | action 2 | ...
 * +----------+----------+-------
 */

/*
 * style des boutons d'action (texte) : valider, analyser, tester, confirmer...
 */
.panel-middle .btn-action {
  display: inline;
  left: 5em;
  margin: 5px 0;
  min-width: 13.5em;
  padding: 4px;
  position: relative;
}

.panel-middle .btn-action + .btn-action {
  left: 12em;
}

/** ----------------------------- page-main : panel-bottom : message + export */

.page-main .panel-bottom {
  border-top: 1px solid grey;
  margin: 10px 0;
  min-height: 20px;
  overflow: hidden;
  padding: 5px;
  right: 7px;
}

/** -------------------------------------- page-main : panel-bottom : message */

.panel-bottom .warning {
  color: #d38;
}

/** ------------------------------------ page-main : panel-bottom : feed-back */

.panel-bottom .exporthtml,
.panel-bottom .exportcsv {
  display: none;
}

.panel-bottom .nocsv ~ .exporthtml,
.panel-bottom .nohtml ~ .exportcsv,
.panel-bottom .csvhtml ~ .exporthtml,
.panel-bottom .csvhtml ~ .exportcsv {
  display: inline;
}

/** ------------------------------------------------------- FIN page-main.css */
