/**
 * @license
 * Illico Editor - data quality Swiss Army knife
 * Copyright (C) 2025 Arnaud COCHE < i l l i c o . e d i t o r /// n e t - c . f r >
 *
 * This program is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public
 * License as published by the Free Software Foundation,
 * either version 3 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
 * PURPOSE.
 * See the GNU General Public License for more details.
 */

 /* réécriture en cours */

.page-ctrl-hide {
  display:none;
}

/** ------------------------------------ sélecteur de transformations */

/* cf. main.js : dgebi('cube').style.display = 'block';
#action__agregats_7:target ~ #cube {
  display: block;
} */

/** --------------------------------- export HTML (général, explorer) */

/** DEBUT EXPORT */

/* HTML4 Wrapper obsolète en HTML5, contournement via CSS*/
.big {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.color {
}

.italic {
  font-style: italic;
}

.small {
  font-size: 0.5em;
}

.strike {
  text-decoration: line-through;
}

.export table {
  border-collapse: separate;
  border-spacing: 4px;
  color: #586e75;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  counter-reset: rowNumber;
  counter-reset: lineNumber;
}

.export table tr td {
  padding: 5px 10px;
}

.export table thead td {
  counter-increment: lineNumber;
}

.export table tbody tr {
  counter-increment: rowNumber;
}

.export table thead td::before {
  content: counter(lineNumber, upper-alpha) ".";
  min-width: 1em;
  margin-right: 0.5em;
  font-weight: bold;
  color: #2aa198;
}

.export table thead tr td {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid black;
  color: #586e75;
}

.export table tbody tr:hover td:first-child::before {
  color: #d33682;
}

.export table tbody tr td:first-child::before {
  content: counter(rowNumber) ".";
  min-width: 1em;
  margin-right: 0.5em;
  font-weight: bold;
  color: #2aa198;
}

.export table thead tr td:hover::before {
  content: counter(lineNumber, upper-alpha) ".";
  min-width: 1em;
  margin-right: 0.5em;
  font-weight: bold;
  color: #d33682;
}

/** -------------------------------------- mise en exergue des lignes */

.export table tr:hover {
  background-color: #f1f1f1;
}

/** FIN EXPORT */

/** ------------------------------------------------- journal de bord */

/** DEBUT HISTO */
#historique {
  border-collapse: separate;
  border-spacing: 4px;
  color: #586e75;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#historique tr td {
  padding: 5px 10px;
}

#historique thead tr td {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid black;
  color: #586e75;
}

#historique tbody tr:nth-child(odd) {
  background-color: #fdf6e3;
}

#historique tbody tr:nth-child(even) {
  background-color: #eee8d5;
}

#historique tbody tr td:first-child {
  color: black;
  font-weight: bold;
  text-align: center;
}

#historique tbody tr .cc {
  color: #dc322f;
}

#historique tbody tr .chg {
  color: #2aa198;
}

#historique tbody tr:nth-child(10n) td {
  border-collapse: collapse;
  border-spacing: 1;
  border-bottom: 1px solid orange;
}

/** FIN HISTO */

/** -------------------------------------------- droite :    synthèse */

/** DEBUT MSG */
#msg table,
.hypercube {
  border-collapse: separate;
  border-spacing: 4px;
  color: #586e75;
}

#msg table tr td,
.hypercube tr td {
  padding: 5px 10px;
}

#msg table thead tr td,
.hypercube thead tr td {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid black; /* border-bottom: 1px solid #DDDDDD; */
  color: #586e75;
}

#msg table tfoot tr td,
.hypercube tfoot tr td {
  font-weight: bold;
  border-top: 1px solid orange;
}

#msg table tbody tr td:last-child,
.hypercube tbody tr td:last-child,
#msg table tbody tr td:nth-child(2),
.hypercube tbody tr td:nth-child(2),
#msg table tfoot tr td:last-child,
.hypercube tfoot tr td:last-child,
#msg table tfoot tr td:nth-child(2),
.hypercube tfoot tr td:nth-child(2) {
  text-align: right;
}

/** -------------------------------------- mise en exergue des lignes */

#msg table tr:hover,
.hypercube tbody tr:hover {
  background-color: #f1f1f1;
}

/* spécifique : obtenir les méta-données */
#msg .table-center tbody tr td,
#msg .table-center tbody tr td:nth-child(2),
#msg .table-center tbody tr td:last-child {
  text-align: center;
}

/** -------------------------------------------------- flèches de tri */

/* génère des sauts de ligne depuis Firefox, vers Excel/Libreoffice
.sbd {
  user-select: none;
}
*/

/** FIN MSG */

#axes {
  display: flex;
  flex-wrap: wrap;
}

td:empty {
  user-select: all;
}
